{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'DL/layout.css' %}">
        <link rel="stylesheet" href="{% static 'DL/register.css' %}">
    </head>
<body>
    <div id="logo">
        JumpSquareHosting
    </div>
    {%if error != None%}
    <div id="error">
        <b id="error-msg">{{error}}</b>
    </div>
    {%endif%}
    <div>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="form-label">
                    Validation Code
                </div>
                <div>
                    <input type="text"  name="validation-code" minlength="3">
                </div>
            </div>
            <input type="hidden" value="{{username}}" name="username">
            <input type="hidden" value="{{email}}" name="email">
            <input type="hidden" value="{{password}}" name="password">
            <input class="form-btn" type="submit" value="Register"></div>
    
        </form>
        <script>alert("A validation code was send to your email address. Enter the validation code to complete registration")</script>
    </div>
</body>

</html>